<!-- <footer>
    <p>Desenvolvido por Felipe</p>
</footer>
 -->



 <footer>
    <div>
        <section class="line-rodape" ></section>
    </div>
    <div class="rodape">>
        <nav class="primeira-coluna">INSTITUCIONAL
            <a>A Game Mania</a>
            <a>Formas de Pagamento e Envio</a>
            <a>Garantia, Trocas e Devolução</a>
            <a>Política e Privacidade</a>
            <a>Fale Conosco</a>
        </nav>
        <nav class="segunda-coluna">ACESSO RÁPIDO
            <a>O que você vai jogar?</a>
            <a>Monte seu PC’s Gamer</a>
            <a>Qual sua marca favorita?</a>
            <a>Promoções</a>
            <a>Peças & Acessórios</a>
        </nav>
        <nav class="terceira-coluna">CENTRAL DE ATENDIMENTO
            <a><img src="img/cell.svg" alt="">(xx) xxxx-xxxx</a>
            <a>sac@gamemania.com.br</a>
            <a>Seg à sex 8:00 às 18:00 <br>Sáb 08:00 às 12:00</a>
            <a>Somos uma loja 100% virtual,<br>não possuímos lojas físicas.</a>
        </nav>
    </div>
</footer>