<!-- <mat-toolbar color="primary">
    <span><a routerLink="inicio"><img src="./assets/img/logo.png"></a></span>
    <span><a routerLink="inicio">Produtos</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="login">Login</a></span>
</mat-toolbar> -->

<header>
    <div class="container-grid cabecalho-contatos">
        <div class="contatos">
            <a href=""><img class="send" src="./assets/img/send_icon.svg" alt="E-mail">sac@gamemania.com.br</a>
            <a href=""><img class="phone" src="./assets/img/phone_icon.svg" alt="Telefone">(99) 9999-9999 / 9999-9999</a>
        </div>
        <div class="rede-social">
            <a href=""><img class="phone" src="./assets/img/instagram_icon.svg" alt="Instagram"></a>
            <a href=""><img class="phone" src="./assets/img/facebook_icon.svg" alt="Facebook"></a>
        </div>
    </div>
    <div class="container-grid cabecalho">
        <a href="index.html"><img class="logo" src="./assets/img/logo_desktop.png" alt="Logo e-commerce Game Mania"></a>
        <div class="search-sobre">
            <div class="box-search">
                <form>
                    <input type="text" id="txtBusca" placeholder="Buscar...">
                    <img src="./assets/img/busca.svg" id="btnBusca" alt="Buscar">
                </form>
            </div>
            <a class="sobre" href="">
                <p>
                    Suas compras 100% seguras<br>
                    Sua compra em até 10x no cartão
                </p>
            </a>
        </div>

        <div class="cadastro-compras">
            <a routerLink="login"> <img class="cadastro-login" src="./assets/img/cadastro_icon.svg" alt="Cadastro e Login"></a>
            <a href="index.html"> <img class="compras" src="./assets/img/carrinho_compras_icon.svg" alt="Compras"></a>
        </div>
    </div>
    <div class="container-grid grid-menu">
        <nav class="menu">
                <a href="index.html">Todos os Departamentos</a>
                <a href="index.html">Áudio e Vídeo</a>
                <a href="index.html">Eletrônicos</a>
                <a href="index.html">Celulares e Telefonia</a>
                <a href="index.html">Câmeras e Acessórios</a>
                <a href="index.html">Games</a>
                <a href="index.html">Informática</a>
        </nav>
    </div>
    
</header>